.nav-pills .nav-link {
  color: white;
}

.about{
  margin: 20px;
}
.about-image{
  float: left;
  height: 100px;
  width: 100px;
}

.resume{
  margin: 20px;
} 

.text-body-secondary{
  text-align: center;
}